# Dependencies
node_modules/
.pnp
.pnp.js

# Compiled output
dist/
build/

# Testing
coverage/
.jest-cache/
.nyc_output/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Expo
.expo/
web-build/
expo-env.d.ts

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Lockfiles
yarn.lock
pnpm-lock.json
npm-shrinkwrap.json
package-json.lock

# OS
.DS_Store

# Temp
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.qodo

# Stryker
stryker-tmp/
.stryker-tmp/
reports/mutation/

# Reports
reports/*
!reports/.gitkeep

.trae/
.env.test
.env